/*
 * A simple style sheet for course schedules 
 *
 * Original : M Young, September 2015
 * Revised:  J Paeschke, October 2016
 */

body {
    background: #EEE;
    color: #444;
    font: normal 85% "Lucida Sans Unicode",sans-serif;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

tr.even {
    background-color: rgb(224,213,179);
}

tr.odd {
    background-color: rgb(216,202,160);
}

tr.currentWeek td {
    background-color: rgb(210,255,210);
}

.class-schedule .week {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bolder;
    font-size: 150%; 
    text-align: center; 
    width : 1%
}

.class-schedule .date {
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid black;
    font-weight: bolder; 
    text-align: center; 
    width : 5%
}

.class-schedule .topic {
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid black;
    width : 47%
}

.class-schedule .project {
    padding-top: 5px;
    padding-bottom: 5px;
    border-left: 1px solid black;
    font-style: italic;
    width : 47%
}

